/* Footer */
.footer-icons-container {
    display: flex;
    justify-content: space-around;
}

.footer-text-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-icons {
    max-height: 35px;
}

#footer .bg-color-footer{
    background-color: #0c7c59;
}

/* main */
/* Limit the height of the textarea fild */
.textcontent{
    max-height: 200px; 
  }