/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:wght@400;700&display=swap');


/* header */
.navbar {
    background-color: #5a5766;
    font-family: 'PT Sans', sans-serif;
}

.navbar-brand {
    color: white;
}

header .navbar-brand, header .nav-link   {
    color: white; 
}

body header .navbar-toggler-icon {
    color: white;
}

body header .navbar-toggler {
    color: white;
}

.active > .nav-link {
    text-decoration: underline;
    text-decoration-color: white;
    font-weight: bold;
}

/* main */
.card-body img {
    width:100%;
}

main {
    background-color: #48435C;
    color: white;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding: 20px 0px;
    font-family: 'PT Sans', sans-serif;
   
}

.card-body {
    background-color: #EDFFEC;
    color: black;
}

main .card {
    background-color: #EDFFEC;
    color: black;  
}

main h5.card-title a {
    color: black;
}

main .alert-danger {
    border: 8px solid #DC3545;
    color: black;
    background-color: white;
}

main .btn {
    margin-right: 10px;
}

.author-link a {
    color: black;
}


/* Footer */
footer {
    background-color: #5a5766;
}

.footer-icons-container {
    display: flex;
    justify-content: space-around;
}

.footer-text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.footer-icons {
    max-height: 35px;
}

#footer .bg-color-footer{
    background-color: #0c7c59;
}

footer p {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.messages {
    color: white;

}