{% extends 'base.html' %}
{% block title %} Page Not Found {% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Oops! Page Not Found</h1>
                <p class="lead">The page you requested could not be found.</p>
                <p>Please check the URL and try again.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
