{% extends 'base.html' %}
{% block title %} Edit your Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.pk == post.author.pk %}
        <h1> Update your Post </h1> 

        <div class="form-group"> 
            <form method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                {{ foobar|safe }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        

    {% else %}
        <div class="alert alert-danger" role="alert">You can only edit blog posts if you are the author!</div>
    {% endif %}

{% else %}
    <div class="alert alert-danger" role="alert">Please login if you want to edit your blog post!</div>
{% endif %}

{% endblock %}