{% extends 'base.html' %}
{% block title %} Create your Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1> Create your Post </h1> 
    <div class="form-group"> 
        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            {{ foobar|safe }}
            <button type="submit" class="btn btn-primary">Post</button>
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a >
        </form>
        
    </div>

{% else %}
    Please login if you want to create a blog post!
{% endif %}

{% endblock %}