{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <h1> {{ post.title }} </h1> 
    <p>
        By: {{ post.author.first_name }} 
        {{ post.author.last_name }}
    </p>
    <hr>
    {{ post.textcontent | safe }}
    <hr>
    <small>
        Published on: {{ post.created_on }}
    </small>
    <br>
    <br>

    <a href="{% url 'home' %}" class="btn btn-primary"> Back to Overview</a>

    {% if user.is_authenticated %}
        {% if user.pk == post.author.pk %}
            <a href="{% url 'blog-post-update' post.pk %}" class="btn btn-primary"> Edit Post</a>
            <a href="{% url 'blog-post-delete' post.pk %}" class="btn btn-primary"> Delite Post</a>
        {% endif %}
    {% endif %}

    <h2>Comments</h2>
    {% if not post.comments.all %}
        <p> There are no comments yet.</p>
        <a href="{% url 'comment-create' post.pk %}"> Add Comment </a>
    {% else %} 
        <a href="{% url 'comment-create' post.pk %}"> Add Comment </a>
        {% for comment in post.comments.all %}
            <h3>{{ comment.commentator }} </h3>
            <samll> Added on {{ comment.created_on }} </samll>
            <p> {{ comment.comment }}</p>


        {% if user.pk == comment.commentator.pk %}  
            <a href="{% url 'comment-update' post.pk comment.pk %}"> Update Comment </a>
        {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}