{% extends 'base.html' %}
{% block title %} Delete your Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1> Delete: "{{ post.title }}" blog post.</h1> 
        <br>
        <div class="alert alert-danger" role="alert"> Are you sure you want delete this?</div>

        <div class="form-group"> 
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Delete Post</button>
            </form>
        </div>

    {% else %}
    <div class="alert alert-danger" role="alert">You can only edit blog posts if you are the author!</div>
    {% endif %}

{% else %}
<div class="alert alert-danger" role="alert">Please login if you want to delete your blog post!</div>
{% endif %}


{% endblock %}