{% extends 'base.html' %}
{% block title %} Make Your Comment {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.pk == comment.commentator.pk %}  
        <h1> Update Comment </h1> 
        <div class="form-group"> 
            <form method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" class="btn btn-primary mt-3 mr-3">Update</button>
                <a href="{% url 'home' %}" class="btn btn-primary mt-3 mr-3">Home</a >
            </form>
        </div>

    {% else %}
        <div class="alert alert-danger" role="alert">You can only edit blog comments if you are the author!</div>
    {% endif %}    

{% else %}
    <div class="alert alert-danger" role="alert">Please login if you want to create comments! </div>
{% endif %}

{% endblock %}
