{% extends 'base.html' %}

{% block title %}  Blog Posts {% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">
            Welcome to the Cave Blog!
        </h1>
        <p class="lead">
            This blog is dedicated to caving and cave exploration.
            Whether you are a fan of natural dripstone caves or prefer to 
            explore the mysterious passages of a mine, you've come to the right place.
        </p>
        <p>   
            Our aim is to create a platform where like-minded people can share their 
            experiences, exchange ideas and learn from each other. Whether you are an 
            experienced speleologist or just starting to take an interest in the subject - everyone is welcome!
        </p> 
        <p>
            Here you can describe your adventures in caves, share photos of impressive formations, 
            ask questions, give tips and help others. Let's explore the fascinating world 
            of caves together and inspire each other!
        </p>
        <p>
            So, what are you waiting for? Create an account and share your first blog post 
            with the community. We look forward to hearing about your experiences and discovering 
            the beauty of the underground world together!
        </p>
        <a href="{% url 'register' %}" class="btn btn-primary">Register here</a>

    </div>
{% endif %}

    <h1 class="mt-5 mb-4">Blog Posts</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'blog-post-create' %}" class="btn btn-primary mb-3">Create Post</a>
    {% endif %}

    <div class="row">
        {% for post in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog-post-detail' post.pk %}">{{ post.title }}</a></h5>
                    <div class="card-text">{{ post.textcontent|slice:":150"|safe }}{% if post.textcontent|length > 200 %}...{% endif %}</div>
                    
                    <p class="card-text author-link"><small class="text-muted">by 
                        {% if post.author.profile %}S
                            <a href="{% url 'user-profil-detail' post.author.profile.id %}">{{ post.author.get_full_name }}</a>
                        {% else %}
                            {{ post.author.get_full_name }}
                        {% endif %}
                        </small>
                    </p>
                    
                    {% if user.is_authenticated %}
                    {% if user.pk == post.author.pk %}
                    <a href="{% url 'blog-post-update' post.pk %}" class="btn btn-sm btn-primary">Edit Post</a>
                    <a href="{% url 'blog-post-delete' post.pk %}" class="btn btn-sm btn-danger">Delete Post</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}