{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Cave Blog{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Static css -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <!-- Summernote -->
        <link href="{% static 'django_summernote/summernote-bs4.css' %}" rel="stylesheet">
        <script src="{% static 'django_summernote/summernote-bs4.js' %}"></script>

    </head>

    <body class="d-flex flex-column min-vh-100">
        <header> 
        <!-- Navbar from Bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">Cave Blog</a>

                    {% if user.is_authenticated %}
                        <a class="navbar-brand"> <strong> {{ user.username }} is logged in </strong> </a>
                    {% endif %}
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!--- Navbar items -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item {% if request.path == '/create-blog-post/' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'blog-post-create' %}">Create Blog Post</a>
                                </li>
                        
                                {% if not request.user.profile %}
                                    <li class="nav-item {% if request.path == '/accounts/create-user-profil' %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'user-profil-create' %}">Create User Profile</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item {% if '/accounts/user-profil/' in request.path %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'user-profil-detail' user.profile.id %}">My Profile</a>
                                    </li>
                                {% endif %} 
                        
                                <li class="nav-item {% if request.path == '/accounts/logout/' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item {% if request.path == '/accounts/register/' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                                </li>
                                <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    
        <main class="flex-grow-1">
            <div class="container"> 
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer text-black py-4 bg-color-footer mt-auto" id="footer">
        <div class=" footer-text-container">
            <p>
                Cave Blog <br>
                Musterstraße 123, 53113 Bonn <br>
                e-mail:	info@cave-blog.de
            </p>
        </div>
        <div class="footer-icons-container"> 

            <!-- Social media icons-->
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook page, opens in a new tab">
            <img src="{% static '/icons/facebook_icon.png' %}" alt="Facebook Icon" class=footer-icons>
            </a>
            <a href="https://github.com/" target="_blank" rel="noopener" aria-label="Github page, opens in a new tab">
            <img src="{% static '/icons/github_icon.png' %}" alt="GitHub Icon" class=footer-icons>
            </a>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="LinkedIN page, opens in a new tab">
            <img src="{% static '/icons/linkedin_icon.png' %}" alt="LinkedIn Icon" class=footer-icons>
            </a>
        </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>

